.Clicker {
  width: 300px ;
  border: 1px solid #dee2e6;
}

.counter {
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 96px;
  font-weight: 300;
  text-size-adjust: 100%;
}

.buttons div {
  padding: 0;
}
