.Clicker {
  width: 300px;
  border: 1px solid #dee2e6;
  margin: 20px;
  position: relative;
}

.counter {
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 96px;
  font-weight: 300;
  text-size-adjust: 100%;
}

.buttons div {
  padding: 0;
}

.editable {
  background-color: #f8f9fa;
}

.btn-delete {
  position: absolute;
  top: 0px;
  z-index: 1;
  left: calc(100% - 27px);
  border-radius: 100%;
  padding: 1px 7px;
}